

<div class="row">
  <div class="col-12">
<h1 class="text-center">Calcular nueva fecha</h1>
    <div class="form">
      <form [formGroup]="form">
        <table class="table">
          <tr>
            <th>Selecciona una fecha</th>
            <th>Dias a Sumar</th>
            <th>Calcular</th>
          </tr>
          <tr>
            <td> 
              <div class="input-group">
                  <my-date-picker  
                  class="form-control mydrop"
                  formControlName="myDate"
                  [options]="myDatePickerOptions"
                  >
                  </my-date-picker>
              
              </div>
            </td>
            <td>
                <input type="number" 
                formControlName="days"
                min="1"
                max="365"
                >
            </td>
            <td>
              <button class="btn btn-success"
               (click) = "submit()">Calcular</button>
            </td>
          </tr>
        </table>
       
        </form>
    </div>
  </div>
  <div class="col-6">
    <h1 class="text-center">Fechas ingresadas</h1>
    <table class="table" >
      <tr class="text-center">
        <th>Fecha Ingresada</th>
        <th>Dias Contados</th>
        <th>Proxima Fecha Habil</th>
      </tr>
        <tr *ngFor="let date of dates" class="text-center">
          <td> {{date.date}}</td>
          <td> {{date.days}}</td>
          <td> {{date.nextenabledday}}</td>
        </tr>
    </table>
  </div>
  <div class="col-6">
    <h1 class="text-center">Dias Feriados</h1>
    <table class="table">
      <tr class="text-center">
        <th>Dia</th>
        <th>Mes</th>
      </tr>
        <tr *ngFor="let holiday of holidays" class="text-center">
          <td> {{holiday.day}}</td>
          <td> {{holiday.month}}</td>
        </tr>
    </table>
  </div>
</div>

<router-outlet></router-outlet>