<footer >
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <img
          src="../../../../assets/img/logo1.jpg"
          alt="Logo"
          style="width: 40%; margin-left: 4%; margin-bottom: 5px !important;"
        />
      </div>
      <div class="col-6">
        <p class="text-center text-muted">
          © {{ hoy | date: "yyyy" }} Copyright Todos los derechos reservados -
         Josue Verbel | Version : {{version}}
        </p>
      </div>
      <div class="col-2">
       
      </div>
      <div class="col-1 text-right">
       
      </div>
    </div>
  </div>
</footer>
